packaging_format = 2

id = "homarr"
name = "Homarr"
description.en = "Customizable browser's home page to interact with your homeserver's Docker containers"
description.fr = "Page d'accueil personnalisable pour interagir avec les conteneurs Docker de votre serveur"

version = "1.28.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://homarr.dev/"
demo = "https://homarr.ajnart.fr/fr"
admindoc = "https://homarr.dev/docs/about"
userdoc = "https://homarr.dev/docs/about"
code = "https://github.com/homarr-labs/homarr"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "1500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/homarr-labs/homarr/archive/refs/tags/v1.28.0.tar.gz"
        sha256 = "fbb90a2f09b1adc0d33efa4ce08680f6d552efa4b9c14cd2f5647b73754fe9fe"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "sqlite3"
    extras.yarn.repo = "deb https://dl.yarnpkg.com/debian/ stable main"
    extras.yarn.key = "https://dl.yarnpkg.com/debian/pubkey.gpg"
    extras.yarn.packages = "yarn"
