packaging_format = 2

id = "homarr"
name = "Homarr"
description.en = "Customizable browser's home page to interact with your homeserver's Docker containers"
description.fr = "Page d'accueil personnalisable pour interagir avec les conteneurs Docker de votre serveur"

version = "1.47.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://homarr.dev/"
admindoc = "https://homarr.dev/docs/getting-started"
userdoc = "https://homarr.dev/docs/category/management"
code = "https://github.com/homarr-labs/homarr"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = false

disk = "3G"
ram.build = "7G"
ram.runtime = "2G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/homarr-labs/homarr/archive/refs/tags/v1.47.0.tar.gz"
        sha256 = "91f61b5da808cf488e0368f20e3ae04f698b601b38f85857eeb518b0614ec7c3"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]
        main.default = 3000 
        tasks.default = 3002
        websocket.default = 3003
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "sqlite3, redis-server, ca-certificates" 

    [resources.nodejs]
    version = "24"
